*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header section */
.header{
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 0 15rem;
}

.banner{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

.link{
    font-size: 18px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 0 1rem;
}

.hero{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.hero .container{
    flex: 1;
    margin-right: 5rem;
}

.hero h1{
    color: #f9faf8;
    font-size: 3rem;
    font-weight: bolder;
    line-height: 0.8;
}

.hero p{
    font-size: 18px;
    padding: 1.5rem 0;
}

.hero button{
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: .5rem;
    padding: .5rem 2rem;
}

.hero .image{
    background-color: rgb(50,50,50);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Information section */
.main{
    padding: 0 15rem;
    text-align: center;
}

.main h1{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 1.5rem 0;
}

.containerInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    margin: 1rem;
}

.containerInfo .image{
    border: 5px solid #3882f6;
    min-height: 150px;
}

.containerInfo p{
    margin: 1rem 0;
}

/* quote section */
.quoteSection{
    background-color: #e5e7eb;
    padding: 2rem 15rem;
    display: flex;
    flex-direction: column;
}

.quote{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 1rem;
}

.citation{
    color: #1f2937;
    font-weight: bolder;
    align-self: flex-end;
}

/* signUp section */
.signUpSection{
    padding: 2rem 15rem;
    margin: 1rem;
}

.signUpSection .container{
    background-color: #3882f6;
    border-radius: 0.5rem;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.signUpSection button{
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 0.5rem;
    color: #f9faf8;
    min-width: 5rem;
    height: 3rem;
    margin-right: 1rem;
}

/* footer */
.footer{
    background-color: #1f2937;
    color: #f9faf8;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}